<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= p_tag_508 do %>
    <%= h1_tag_508 do %>
        <%= @title || 'Section 508' %>
    <% end %>
    <%= hr_tag_508 %>
<% end %>


<nav style="text-align: center;">
  <% nav.each_with_index  do |nav_item, i| %>
      <%= ' | ' if i > 0 %>
      <%= link_to nav_item[:name], nav_item[:path] %>
  <% end %>
</nav>

<%= hr_tag_508 %>

<%= yield %>

</body>
</html>
