PAGES: Index
<div class="">
    didit_image_tag<br>
    <%= didit_image_tag 'https://images-na.ssl-images-amazon.com/images/G/01/aplusautomation/vendorimages/65fa961e-8f22-4fe6-a420-3c3c26dd2953.jpg._CB289161999__SL300__.jpg', alt: 'Minion', title: 'My Minions' %>
</div>

<div class="">
  map <br>
  <%= didit_map_tag name: 'My Map' do %>
    <%= didit_area_tag href: 'javascript:;', alt: 'My Alt', shape: 'rect', coords: '0,1,2,4,5' %>
  <% end %>
</div>



    <%= didit_table_tag id:'my-table2', border: 2, summary: 'My Summary', caption: 'This is the caption for the table' do %>
      <thead>
        <tr>
          <%= didit_th_tag scope: 'col' do %>My TH Content<% end %>
          <%= didit_th_tag 'Another TH Tag', scope: 'row' %>
          <%= th_tag_508 scope: 'row' do %>My TH Content<% end %>
          <%= th_tag_508 'Another TH Tag', scope: 'col' %>
          <%= th_tag_508 's', scope: 'col' %>
        </tr>
      </thead>
    <% end %>

    <hr>
    <%= table_tag_508 id:'my-table', border: 2, summary: 'My Summary', caption: 'This is the caption for the table' do %>
      <thead>
        <tr>
          <%= didit_th_tag scope: 'col' do %>My TH Content<% end %>
          <%= didit_th_tag 'Another TH Tag', scope: 'row' %>
          <%= th_tag_508 scope: 'row' do %>My TH Content<% end %>
          <%= th_tag_508 'Another TH Tag', scope: 'col' %>
        </tr>
      </thead>
    <% end %>
